@import 'variables.scss';
@import 'mixins.scss';

body,
html {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: $menu-and-headers-font;
}

p {
  color: #484848;
}

a:hover {
  text-decoration: none;
}

.whiteSpace {
  @include size(500px,500px);
}
/* All Fixed item's */
#webSite {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1001;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #070f14;
  @include size(120px, 120px);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@media #{$phone} {
  #loader {
    left: 55%;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#LeftIcons {
  i {
    position: fixed;
    left: 1%;
    z-index: 10;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #484848;

    &:hover {
      transform: scale(1.1);
    }
    @media screen and #{$phone} {
      & {
        display: none !important;
      }
    }
  }

  .fa-github {
    top: 5%;
  }

  .fa-linkedin-in {
    top: 12%;
  }

  .fa-at {
    top: 20%;
  }
}

#backToTop {
  @include size(3%, auto);
  position: fixed;
  bottom: 3%;
  right: 1%;
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
  @media screen and #{$phone} {
    & {
      display: none !important;
    }
  }
}

.btn {
  z-index: 10;
}
/* menu  */

.navbar-nav {
  a {
    color: white !important;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 6%;
    position: relative;
    font-family: $menu-and-headers-font;
    white-space: nowrap;

    &:hover {
      color: white !important;
    }

    &:before {
      content: "";
      position: absolute;
      @include size(100%, 0.5px);
      bottom: 0;
      left: 0;
      background-color: white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    @media #{$phone} {
      & {
        position: relative;
        margin-top: 0;
        width: 25%;
      }
    }
    @media #{$phone} {
      &:before {
        width: 90%;
      }
    }
  }
}

.navbar-toggler {
  background: #545151;
}
@media #{$phone} {
  .navbar-toggler-icon {
    background: #545151;
  }
}

header {
  position: relative;
  min-height: calc(100vh - 200px);
  overflow: hidden;
  cursor: default !important;
  @media #{$phone} {
    & {
      min-height: calc(75vh - 200px);
    }
  }

  h1 {
    text-align: center;
    padding: 1rem;
    font-family: 'Amatic SC';
    font-size: 9vw;
    white-space: nowrap;
    color: white;
  }
  @media #{$phone} {
    h1 {
      font-size: 20vw;
      margin-top: -13%;
    }
  }

  p {
    padding: 1rem;
    text-align: center;
    margin-top: 6%;
    margin-left: 60%;

    img {
      width: 35px;
      margin-right: 5px;
    }

    img:hover {
      cursor: pointer;
    }
    @media #{$phone} {
      img {
        position: fixed;
        right: 5%;
        margin-right: 0;
      }

      #plButton {
        top: 2%;
        margin-right: 0;
      }

      #engButton {
        position: fixed;
        top: 8%;
      }
    }
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  @include size(100%, 100%);
  z-index: -1;
  margin: 0;
  padding: 0;
  object-fit: fill;
}
/* About me */

#about h1 {
  margin-top: 50px;
}
/* Skills */

#skillsRow {
  margin-top: 4%;
  margin-bottom: 4%;

  img {
    @include size(103px, 103px);
    margin-top: 25%;
    padding-bottom: 10%;
    cursor: pointer;
  }
  @media #{$phone} {
    img {
      @include size(55%, auto);
      margin-left: 10%;
    }

    .col-md-4 {
      margin-left: 20%;
    }
  }
}

.bottomSkills {
  margin-bottom: 12%;

  img {
    @include size(90px !important, 90px !important);
    margin-left: 5% !important;
  }
  @media #{$phone} {
    img {
      @include size(45% !important, auto !important);
      margin-left: 15% !important;
    }
  }
}

.dotsContainer {
  display: flex;
  flex-direction: row;
  min-width: 98px;
}

.dots {
  background-color: #c7ced6;
  position: relative;
  @include size(15px, 15px);
  border-radius: 50%;
  margin: 0 0 0 5px;
  @media #{$phone} {
    & {
      @include size(8%, auto);
      padding-top: 7%;
      margin-left: 6%;
    }
  }
}

.checked {
  background-color: black;
}

.skillDescription {
  img {
    @include size(60% !important, auto !important);
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    cursor: default !important;
    margin-left: 20% !important;
  }
  @media #{$phone} {
    img {
      @include size(100%, auto);
      padding-top: 7%;
      margin-left: 10%;
    }
  }
}

#descriptionText {
  margin-top: 5%;
  font-size: 1.45vw;
  @media #{$phone} {
    & {
      font-size: 20px;
      margin-bottom: 15%;
    }
  }
}

.icons {
  padding-bottom: 50px;
}
/* Projects */

#projectsRow {
  margin-bottom: 5%;
}

.shadows {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

#projectsRow img {
  margin-left: 13%;
  @include size(75%, auto);
  margin-top: 10%;
}

.projectsHeader {
  margin-top: 4%;
  margin-bottom: 4%;
}

.projectName {
  position: absolute;
  left: 50%;
  top: 5%;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  @include size(50%, 21%);

  p {
    font-size: 2vw;
    margin-left: 5%;
    font-family: 'Oswald', sans-serif;
    z-index: 10;
    color: white;
  }
  @media #{$phone} {
    p {
      font-size: 6vw;
    }
  }
}

.wholeProject {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
  }

  a:hover {
    text-decoration: none;
  }
  @media #{$phone} {
    & {
      margin-bottom: 20%;
    }
  }
}

.ProjectTechnologies {
  position: absolute;
  left: 7%;
  bottom: -6%;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  @include size(85%, 26%);

  i {
    font-size: 3vw;
    padding-top: 3%;
    padding-left: 4%;
    display: inline-block;
  }
  @media #{$phone} {
    & {
      height: 24%;
      bottom: -11%;
    }

    i {
      font-size: 9vw;
    }
  }

  .devicon-html5-plain-wordmark {
    margin-left: -5%;
  }
}
/* Contact */

#contact {
  margin-top: 4%;
}

.contactF {
  margin-top: 50px;
}

.wyslijWiad {
  background-color: #2a2a2a;
  color: white;

  &:hover {
    background-color: #cfcfcf;
    color: black;
  }

  &:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  }
}
/* Text under headers */

.text {
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  line-height: 2.2;
}
/* Footer */

footer {
  margin-top: 75px;
  background-color: #2a2a2a;

  p {
    color: white;
    font-size: 17px;
    text-align: Center;
  }

  i {
    margin-left: 10px;
    color: white;
  }
}
