/* menu  */

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 15px;
  margin-right: 20px;
  margin-top: 15px;
}

.nav-item {
  position: relative;
  font-family: 'Playfair Display', serif;
}

@media (max-width: 992px) {
  .nav-item {
    position: relative;
    margin-top: 0px;
    width: 25%;
  }
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 992px) {
  .nav-item::before {
    width: 90%;
  }
}

.nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-item:hover {
  color: #000 !important;
}

.header {
  position: relative;
  min-height: calc(100vh - 200px);
  overflow: hidden;
  cursor: default !important;
}
/* video background */
.myName {
  text-align: center;
  padding: 1rem;
  font-family: 'Amatic SC', cursive;
  font-size: 9vw;
  white-space: nowrap;
  color: black;
}

@media (max-width: 992px) {
  .myName {
    font-size: 20vw;
  }
}

.languageChoice {
  padding: 1rem;
  text-align: center;
  margin-top: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}
@media (max-width: 992px){
  .languageChoice{
    display: none;
  }
}

.videoBg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  z-index: -1;
  margin: 0px;
  padding: 0px;
  object-fit: fill;
}

.polFlag {
  width: 25px;
}

@media (max-width: 992px) {
  .polFlag {
    width: 25px;
  }
}

.plSite {
margin-left: 5%;
}

@media (max-width: 992px) {
  .plSite {

  }
}

.gbFlag {
  width: 25px;
}

@media (max-width: 992px) {
  .gbFlag {

  }
}

.engSite {
margin-left: 6%;
}

@media (max-width: 992px) {
  .engSite {

  }
}
/* Back to top arrow */
.arrow{
  width:3%;
  position:fixed;
  bottom:3%;
  right:1%;
  z-index:10;
  cursor:pointer;
  transition: all .2s ease-in-out;
}

.arrow:hover{
  transform: scale(1.1);
}
/* About me */
.about{
  padding-bottom:130px;
}
.aboutHeader{
  text-align:center;
  margin-top:50px;
  margin-bottom:20px;
  font-family: 'Playfair Display', serif;
}
/* Icons */
    /* JS */
    .pngjs{
      width:51%;
      margin-left:49%;
      opacity:0.6;
    }
    .pngjs:hover{
      opacity:1;
    }

    .pngjquery{
      width:50%;
      margin-left:45%;
      opacity:1;
      margin-top:10%;
       display: none;
       position: absolute;
    }
    .pngreact{
      width:50%;
      margin-left:50%;
      opacity:1;
      margin-top:5%;
       display: none;
    }
    /* HTML */
    .pnghtml{
      width:50%;
      margin-left:25%;
      opacity:0.6;
      margin-top:-15%;
    }
    .pnghtml:hover{
      opacity:1;
    }

    .pngresponsive{
      width:35%;
      margin-top:-10%;
      margin-left:25%;
      opacity:1;
      display: none;
      position: absolute;
    }
    /* CSS */
    .pngcss{
        width:50%;
      opacity:0.6;
    }
    .pngcss:hover{
      opacity:1;
    }

    .pngbootstrap{
      width:20%;
      margin-top:5%;
      margin-left:14%;
      opacity:1;
       display: none;
       position: absolute;
    }
    .pngsass{
      width:30%;
      margin-top:10%;
      margin-left:15%;
      opacity:1;
       display: none;
    }

    /* OTHERS */
    .pngjoomla{
      width:51%;
      margin-left:24.5%;
      opacity:1;
    }
    .pnggit{
      width:40%;
      margin-left:50%;
      opacity:1;
      margin-top:-5%;

    }
    .jpgmysql{
      width:45%;
      margin-left:10%;
      opacity:1;
      margin-top:-10%;
    }
/* Slider */

.slajder {
  padding-top: 50px;
}

.icons{
  padding-bottom:50px;
}
/* Projects */
.projektyHeader{
  text-align:center;
  margin-top:120px;
  margin-bottom:50px;
  font-family: 'Playfair Display', serif;
}
.projects:hover{
  -o-transition: all 0.6s;
-moz-transition: all 0.6s;
-webkit-transition: all 0.6s;
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-webkit-transform: scale(1.1);
}

/* Contact */
.contact{
  text-align:center;
  margin-top:50px;
  margin-bottom:20px;
  font-family: 'Playfair Display', serif;
}
.contactF{
  margin-top:50px;
}
.wyslijWiad{
  background-color: #51716c;
}
.wyslijWiad:hover{
  background-color: #bfe4c1;

}
/* Text under headers */
.text{
  text-align:center;
  font-size:20px;
}
/* Footer */
footer{
  margin-top:75px;
  background-color: #51716c;
}
